.all {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: auto;

}
.dialogs {
    padding: 30px;
    border: solid darkgray 1px;
    margin-right: 10px;
}
.messages {
    padding: 30px;
    border: solid darkgray 1px;
}
.dialog {
    padding: 10px;
}
.textArea {
    margin-top: 20px;
    margin-bottom: 20px;
}
